.detail-main {
	width: 600px;
	height: auto;
	background-color: transparent;
	margin: 50px auto;
	align-items: left;
	border: 1px solid #E8E8E8;
}
.content {
	margin: 10px !important;
	align-items: left;
}

.linhas span {
	line-height: 30px;
	color: #1C1C1C;
	margin-right: 20px;
}
.linhas-nome {
	color: #104E8B !important;
}