.formulario-main {
	width: 600px;
	height: auto;
	margin: auto;
}
.formulario-inclusao {
	display: grid !important;
	margin: 20px;
}
.formulario-inclusao input {
	height: 30px;
	padding: 0 20px;
	font-size: 15px;
	border-radius: 5px;
	border: 0;
	outline: none;
}
.formulario-inclusao input:hover {
	background-color: #F5F5F5;
}
#especie {
	height: 30px; 
	font-size: 15px;
	padding: 0 20px;
	border: 0;
	
}
.formulario-inclusao input, .formulario-inclusao select {
	margin: 10px 0;
}
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	border: 0;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	background-color: #104E8B;
	margin: 20px 0;
	color: #F8F8FF;
	text-decoration: none;
	font-size: 15px;
}
.button:hover {
	background-color: #104E8B;
	opacity: 0.8;
	cursor: pointer;	
}
