.formulario-main {
	width: 600px;
	height: auto;
	margin: 50px auto;
	border: 1px solid #E8E8E8;
}
.formulario-inclusao {
	display: grid !important;
	margin: 20px;
}
.formulario-inclusao input {
	height: 30px;
	padding: 0 20px;
	font-size: 15px;
	border-radius: 5px;
	border: 0;
	outline: none;
}
.formulario-inclusao input:hover {
	background-color: #F5F5F5;
}
#especie {
	height: 30px; 
	font-size: 15px;
	padding: 0 20px;
	border: 0;
	
}
.formulario-inclusao input, .formulario-inclusao select {
	margin: 10px 0;
}


