
.list-main {
	width: 600px;
	height: auto;
	margin: 20px auto;
}
.content {
	margin: 10px !important;
	align-items: left;
}
.list-linhas p {
	line-height: 20px;
	margin: 0 10px;
}
.list-linhas a {
	text-decoration: none;
	color: #1C1C1C;
}
.list-linhas a:hover {
	opacity: 0.7;
	cursor: pointer;
}